.btn {
	padding-block: 2.8rem;
	padding-inline: 2.8rem;
	border: none;
	border-radius: 10px;
	background-color: hsl(199, 35%, 19%);
	box-shadow: 0 10px 0 0.2px hsl(199, 35%, 10%);

	@media (width > 45rem) {
		padding-block: 3rem;
		padding-inline: 3rem;
	}
}
